.#{$app-prefix}__multi-select-filter {
  &__title {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
  }

  &__subtitle {
    margin-top: 0;
  }

  &__items {
    height: 400px;
    overflow: scroll;
    margin: 24px 0;

    &__item:first-child {
      margin: 0;
    }

    &__item:hover {
      cursor: pointer;
      color: #3264cd;
    }

    &__item {
      display: flex;
      margin: 16px 0;

      &__text {
        flex-basis: 100%;
        margin-left: 14px;
      }

      &__checkbox {
        background-color: #fff;
        border: 1px solid #d3d2ce;
        height: 18px;
        width: 18px;
      }

      &__checkbox--selected {
        background-color: #3264cd;
        border: 2px solid #fff inset;
      }
    }
  }
}
